*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(180deg, #9fc5e8, #0b5394)
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b5394;
    margin: 10px 20px;
    border-radius: 20px;
    color : white;
}
div a{
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #0b5394;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;

}
div ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div a:hover{
    background: #9fc5e8;
    color: black;
}
.skills li{
    padding: 10px 20px;
    margin: 10px 20px;
}
h1{
    color: black;
    font-size: 3rem;
    text-align: center;
    margin: 20px 0;
}
p{
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}
nav{
    background-color: #9fc5e8;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;   
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #0b5394;
    color: white;
}

.sidebar{
    position: fixed;
    top:  0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #ffffff46;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menuButton{
    display: none;
}
.contact-mid{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.contact-input{
width: 400px;
height: 50px;
border: none;
outline: none;
border-radius: 20px;
font-weight: 400;
margin: 10px 20px;
padding: 10px 20px;
}
.contact-input:focus{
    border: 2px solid #0b5394;
}
.contact-mid button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0b5394;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #9fc5e8;
    color: black;
}
@media(max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
}
@media(max-width: 600px){
    .sidebar{
        width: 100%;
    }
}

.content{
    text-align: center;
    margin: 0 auto;
}